.square-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
}
.square-image:before {
    content: '';
    padding-top: 100%;
    display: block;
    pointer-events: none;
}




.mt-30 {
    margin-top: 1.875em !important;
}

.mb-30 {
    margin-bottom: 1.875em !important;
}